@font-face{
    font-family:'satisfaction';
    src:url('../../fonts/satisfaction.ttf')
}

h1 {
    color: #43291F; 
    font-family: 'satisfaction';
    align-self: center;
    font-weight: bold;
    font-size: 40px;
}

#changename-label{
    color: #43291F; 
    font-family: 'Rockwell';
    font-weight: bold;
    margin-right: 10px;
}

p {
    color:rgb(80, 80, 80);
    user-select: none;
}

body{
    background-color:#F8F6E0;
    display: flex;
    flex-direction: column;
    padding:20px;
}

#buttoncontainer {
    display:flex;
    flex-direction: column;
    height:fit-content;
    width: 30%;
    visibility: hidden;
}

.btn {
    background-color: #87C38F;
    color: white;
    text-align: center;
    width:fit-content;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-family: 'Rockwell';
    flex:1;
    padding-top:5px;
    padding-bottom:5px;
}

.btn:hover {
    box-shadow: 1px 1px 0px 0px gray;
}

.bar-complete {
    height:15px;
    background-color: #87C38F;
}

.bar-incomplete {
    height:2px;
    background-color: lightgray;
    align-self: center;
}

#changename {
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 60px;
}

#username-inp {
    height:20px;
    border-color: lightgray;
    border-width: 1px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.progress-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress{
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    margin-top:10px;
    flex-direction: column;
    background-color: #FEFCE9;
}

.player-name{
    width:150px;
    font-family: 'Rockwell';
    font-size: 20px;
    color: #43291F;
}

.progress-bar{
    font-family: 'Rockwell';
    font-size: 20px;
    color: #43291F;
    display: flex;
    flex:1;
    align-items: center;
}

#passage-container{
    padding: 15px;
    border-radius: 15px;
}

input{
    border-color: gray;
    padding-top:5px;
    padding-bottom:5px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: text;
    color: #666666;
    border-width: 1px;
    background-color: 'white';
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.passage{
    font-size:25;
    color: #43291F;
    font-family: 'Rockwell';
}

#complete{
    color:#43291f25;
}

#wrong{
    color:rgb(82, 0, 0);
    background-color: rgb(218,44,56,0.3)
}

#remaining{
    color:#43291f;
}

#code{
    user-select:text;
    margin-top: 0px;
    color: #43291F; 
    font-family: 'Rockwell';
    font-weight: bold;
    font-size: 30px;
}

#save-name{
    padding-left: 5px;
    padding-right:5px;
}

#code-label{
    color: #43291F; 
    font-family: 'Rockwell';
    margin-right: 10px;
    margin-bottom: 0px;
}

.position{
    color:limegreen;
    font-family: 'Rockwell';
    margin-left:5px;
    font-size: 20px;
}

#footer{
    display: flex;
    flex-direction: column;
    position:fixed;
    bottom:20px;
    left:20px;
    padding:5px;
    align-items: left;
}

#footer-note{
    font-size:20px;
    color:#43291F; 
    font-family: 'Rockwell';
}

#link{
    font-size:20px;
    color:#43291F; 
    font-family: 'Rockwell';
    margin-left: 5px;
}

#gh-icon{
    width:25px;
    height:25px
}

.wpm{
    margin-left:15px
}