body{
    display: flex;
    background-color:#171717;
    flex-direction: column;
}


.btn {
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: large;
    height:min-content;
    background-color: pink;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    flex:1;
    width:100%
}


#btn-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}

#join-container{
    display: flex;
    align-self: center;
    width: 100%;
}

#game-code-inp{
    padding-top:20px;
    padding-bottom:20px;
    flex:3;
    margin-right: 20px;
    cursor: default;
}